.banner{
    height:480px;
    object-fit: contain;
    position: relative;
    color:white
}
.banner_contents{
    margin-left: 30px;
    padding-top:140px;
    height:190px;
}
.banner_title{
    font-size:3.5rem;
}
.banner_button{
    background-color:rgba(51,51,51,0.5);
    border:none;
    color:white;
    outline:none;
    font-weight:600;
    padding-right:2rem;
    padding-left:2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-right:1.2rem;
    color:white;
    cursor:pointer;
}
.banner_button:hover{
    color:black;
    transition: all 0.2s;
    background-color: white;
}